RewriteEngine On
RewriteBase /


RewriteCond %{HTTP_USER_AGENT} !Mediapartners-Google


RewriteCond %{REQUEST_FILENAME} !-f

# Append .php if extension not provided
RewriteRule ^([^\.]+)$ $1.php [NC,L]


RewriteRule ^([^\.]+)$ $1.html [NC,L]


RewriteCond %{THE_REQUEST} ^[A-Z]+\ /([^/]+/)*[^.#?\ ]+\.php([#?][^\ ]*)?\ HTTP/
RewriteRule ^(([^/]+/)*[^.]+)\.php /$1 [R=301,L]


ErrorDocument 404 /pages/404.php


Options -Indexes
Options +FollowSymLinks


RewriteRule ^page/([a-zA-Z0-9_-]+)/ pages/index.php?id=$1
RewriteRule ^category/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-].*) category.php?cat=$1&subcat=$2
RewriteRule ^category/([a-zA-Z0-9_-].*) category.php?cat=$1
RewriteRule ^announcement/([a-zA-Z0-9_-]+)/ announcement.php?id=$1
RewriteRule ^service/([a-zA-Z0-9_-]+)/(.*)/ service.php?id=$1&link=$2
RewriteRule ^article/([a-zA-Z0-9_-]+)/ article.php?link=$1
RewriteRule ^profile/([a-zA-Z0-9_-]+)/ profile.php?id=$1
RewriteRule ^reviews/([a-zA-Z0-9_-]+)/ reviews.php?id=$1
